.box{
    position: relative;
    width: 100px;
    height: 100px;
    margin: 4px;
    display: inline-block;
}

.grey1{
    background-color: rgb(35, 35, 35);
}
.grey2{
    background-color: rgb(35, 35, 35);
}
.grey3{
    background-color: rgb(35, 35, 35);
}
.grey4{
    background-color: rgb(35, 35, 35);
}